*_
*_.php
*_.js
*_.html
*_.css
*_.json
*.pdf
*.log
*.zip
*.md
*.txt
*.xlsx
*.7z
*.xls
*.csv
*.sql
*.tgz
*.tar
*.backup
*.ini
*.lock
*.env
*.code-workspace
### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk
### Linux ###
*~

app-data/json/*.json

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
composer.lock
.vscode
mobileApikey.php
/.github