.datos {
    margin-left: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

.datos div {
    font-weight: bold;
}

.datos p {
    margin: 0px;
    padding: 0px;
}

.datos label {
    margin: 0px;
    padding: 0px;
}

#mapzone {
    width: 100%;
    height: 250px;
}

table.dataTable td {
    vertical-align: middle !important;
    height: 60px !important;
    font-size: .85rem !important;
    color: #333 !important;
}

#tableUsuarios.dataTable td {
    height: 30px !important;
}
#tableDevices.dataTable td {
    height: 30px !important;
}
#tableZones.dataTable td {
    height: 30px !important;
}
#tableNearZones.dataTable td {
    height: 20px !important;
}
#tableZones.dataTable td div {
    height: 32px;
    display: flex;
    align-items: center;
}
.leaflet-control a {
    display: none !important;
}
.leaflet-control span {
    display: none !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

#table-mobile_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#table-mobile_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#table-mobile_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#table-mobile_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

#tableZones_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#tableZones_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#tableZones_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#tableZones_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

#tableDevices_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#tableDevices_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#tableDevices_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#tableDevices_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

#tableUsuarios_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#tableUsuarios_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#tableUsuarios_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#tableUsuarios_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

.smtd {
    display: flex;
    align-items: center;
    height: 100%;
}

.smtdcol {
    display: flex;
    align-items: left;
    flex-direction: column;
    /* height: 100%; */
}

table.dataTable {
    margin-top: 0px !important;
}

.navbar-toggler {
    z-index: 1;
    box-shadow: none !important;
    outline: 0 !important;
}

.addDevice,
.linkMapa {
    border-radius: 2px !important;
}

.radisu2 {
    border-radius: 2px !important;
}

#btnMenu button {
    line-height: 1.1rem;
    /* border: 5px solid #cecece !important; */
}

#btnMenu a {
    line-height: 1.1rem;
    /* border: 5px solid #cecece !important; */
}

@media all and (max-width:480px) {
    #btnMenu {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 5px;
    }

    .lengthFilterTable {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 5px;
    }
}

@media all and (max-width:480px) {
    .tableResponsive {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.gm-ui-hover-effect {
    box-shadow: none !important;
    outline: 0 !important;
    top: 0px !important;
    right: 0px !important;
}

.gm-style .gm-style-iw-c {
    background-color: #efefef !important;
    border-radius: 4px !important;
    padding: 8px !important;
}

.gm-style .gm-style-iw-t::after {
    background: #efefef !important;
}

.map_canvas {
    border: 4px solid #efefef !important;
    width: 100%;
    height: 300px;
}

.gm-ui-hover-effect {
    box-shadow: none !important;
    outline: 0 !important;
    top: 0px !important;
    right: 0px !important;
}

.pac-container {
    background-color: #FFF;
    z-index: 1050;
    position: fixed;
    display: inline-block;
}

.syncZone:hover {
    font-weight: 600 !important;
}

.page-link {
    padding: 12px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    border-radius: 0px !important;
}