.datos {
    margin-left: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

.datos div {
    font-weight: bold;
}

.datos p {
    margin: 0px;
    padding: 0px;
}

.datos label {
    margin: 0px;
    padding: 0px;
}

#mapzone {
    width: 100%;
    height: 250px;
}

#mapid, #mapid-zones {
    width: 100%;
    /* height: 350px; */
    padding: 6px;
    border: 0px solid #dee2e6;
    border-radius: 4px;
}

table.dataTable td {
    vertical-align: top !important;
    /* height: 60px !important; */
    font-size: .9rem !important;
    color: #333 !important;
}

#table-mobile.dataTable td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#tableUsuarios.dataTable td {
    height: 40px !important;
}

#tableDevices.dataTable td {
    height: 40px !important;
}

#tableZones.dataTable td {
    height: 40px !important;
}

#tableNearZones.dataTable td {
    max-height: 20px !important;
}

#tableZones.dataTable td {
    max-height: 40px !important;
}

.leaflet-control-attribution a {
    display: none !important;
}

.leaflet-control-attribution span {
    display: none !important;
}

.leaflet-attribution-flag {
    display: none !important;
}

.leaflet-control-zoom {
    opacity: 0.6;
}

.leaflet-control-fullscreen-button {
    opacity: 0.6;
}

.w45 {
    width: 45px !important;
}

.h45 {
    height: 45px !important;
}

.w55 {
    width: 55px !important;
}

.h55 {
    height: 55px !important;
}

/* .leaflet-control span {
    display: none !important;
} */

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

#table-mobile_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#table-mobile_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#table-mobile_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#table-mobile_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

#tableZones_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#tableZones_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#tableZones_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#tableZones_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

#tableDevices_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#tableDevices_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#tableDevices_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#tableDevices_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

#tableUsuarios_wrapper .dataTables_scrollHead .table {
    border-bottom: 0px solid #ddd !important;
    padding-bottom: 0px !important;
}

#tableUsuarios_wrapper .dataTables_scrollHead .table thead th {
    border-bottom: 3px solid #ddd !important;
}

#tableUsuarios_wrapper .dataTables_scrollBody .table {
    border-top: 0px solid #ddd !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#tableUsuarios_wrapper .dataTables_scrollBody .table thead {
    display: none !important;
}

.smtd {
    display: flex;
    align-items: center;
    height: 100%;
}

.smtdcol {
    display: flex;
    align-items: left;
    flex-direction: column;
    /* height: 100%; */
}

table.dataTable {
    margin-top: 0px !important;
}

.navbar-toggler {
    z-index: 1;
    box-shadow: none !important;
    outline: 0 !important;
}

.addDevice,
.linkMapa {
    border-radius: 2px !important;
}

.radius2 {
    border-radius: 2px !important;
}

#btnMenu button {
    line-height: 1.1rem;
    /* border: 5px solid #cecece !important; */
}

#btnMenu a {
    line-height: 1.1rem;
    /* border: 5px solid #cecece !important; */
}

@media all and (max-width:480px) {
    #btnMenu {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 5px;
    }

    .tdOverflowX {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 5px;
    }

    .lengthFilterTable {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 5px;
    }
}

@media all and (max-width:480px) {
    .tableResponsive {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.gm-ui-hover-effect {
    box-shadow: none !important;
    outline: 0 !important;
    top: 0px !important;
    right: 0px !important;
}

.gm-style .gm-style-iw-c {
    background-color: #efefef !important;
    border-radius: 4px !important;
    padding: 8px !important;
}

.gm-style .gm-style-iw-t::after {
    background: #efefef !important;
}

.map_canvas {
    border: 4px solid #efefef !important;
    width: 100%;
    height: 300px;
}

.gm-ui-hover-effect {
    box-shadow: none !important;
    outline: 0 !important;
    top: 0px !important;
    right: 0px !important;
}

.pac-container {
    background-color: #FFF;
    z-index: 1050;
    position: fixed;
    display: inline-block;
}

.syncZone:hover {
    font-weight: 600 !important;
}

.page-link {
    padding: 12px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    border-radius: 0px !important;
}

.select2-container--open .select2-dropdown--below {
    margin-top: 5px;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img {

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 20% cover 20%;
    animation-fill-mode: both;

}

.bg {
    background-color: #f5f7fb !important;
}

.form-control {
    border: 1px solid #dee2e6 !important;
}

.select2-container--default.select2-container .select2-selection--multiple {
    border: 1px solid #dee2e6 !important;
}

.select2-container .select2-selection--single {
    border: 1px solid #dee2e6 !important;
}

.pic {
    /* background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb25zLXRhYmxlci1vdXRsaW5lIGljb24tdGFibGVyLXBob3RvIj4KICA8cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICA8cGF0aCBkPSJNMTUgOGguMDEiIHN0cm9rZT0iI2Y3ZjlmYyIgLz4KICA8cGF0aCBkPSJNMyA2YTMgMyAwIDAgMSAzIC0zaDEyYTMgMyAwIDAgMSAzIDN2MTJhMyAzIDAgMCAxIC0zIDNoLTEyYTMgMyAwIDAgMSAtMyAtM3YtMTJ6IiBzdHJva2U9IiNjZWNlY2UiIC8+CiAgPHBhdGggZD0iTTMgMTZsNSAtNWMuOTI4IC0uODkzIDIuMDcyIC0uODkzIDMgMGw1IDUiIHN0cm9rZT0iI2NlY2VjZSIgLz4KICA8cGF0aCBkPSJNMTQgMTRsMSAtMWMuOTI4IC0uODkzIDIuMDcyIC0uODkzIDMgMGwzIDMiIHN0cm9rZT0iI2NlY2VjZSIgLz4='); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-photo'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15 8h.01' stroke='%23cecece' /%3E%3Cpath d='M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z' stroke='%23cecece' /%3E%3Cpath d='M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5' stroke='%23cecece' /%3E%3Cpath d='M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3' stroke='%23cecece' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 50%;
    /* Ajusta el tamaño del SVG al 50% del tamaño del elemento */
    background-color: #f5f7fb;
    /* Fondo del SVG */
    /** centrar el svg al medio horizontal y verticalmente */
    background-position: center;
    /* Centra el SVG horizontalmente */
    background-position-y: center;
    /* Centra el SVG verticalmente */
    border-radius: 50%;
    /* Ajusta el radio de las esquinas al 50% del tamaño del elemento */
    width: 24px;
    /* Ajusta el ancho del elemento */
    height: 24px;
}

.pic img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select2-dropdown {
    border: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    border-radius: 4px !important;
    padding: 5px !important;
}

.rotate {
    transform: rotate(360deg);
}

.btnRefresh {
    background-color: #f5f7fb !important;
    border: 0px solid #dee2e6 !important;
    border-radius: 4px !important;
    color: green !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    cursor: pointer !important;
    transition: all 0.5s !important;
}