flags.php
flags2.php
flags3.php
flags4.php
flags_4.php
flags_aws.php
flags_aws_test.php
actualizar_aws_task_test.php
flags_aws_punch.php
flags.php
processBase.php
fotos/temp
fotos/*.jpg
logs/descargas/*.php
temp/*.json
api/**
*.7z
*.delete
